
ETU/.vs/TP2/FileContentIndex/5e33bfd6-be93-4fbc-992f-394f1aca096e.vsidx
ETU/.vs/TP2/FileContentIndex/5e5773db-7308-4cd1-9b0b-3b7c1b4f53d3.vsidx
ETU/.vs/TP2/FileContentIndex/6d13f161-d8d1-49df-9100-97a3b8ac9b19.vsidx
ETU/.vs/TP2/FileContentIndex/799adcdf-9443-4449-9a50-deb8ede2b1be.vsidx
ETU/.vs/TP2/FileContentIndex/7b4710f6-b468-4ba7-814a-6c0c44adace5.vsidx
ETU/.vs/TP2/v17/Browse.VC.db
ETU/.vs/TP2/v17/Browse.VC.db-shm
ETU/.vs/TP2/v17/Browse.VC.db-wal
ETU/.vs/TP2/v17/Browse.VC.opendb
ETU/.vs/TP2/v17/ipch/fd50e7553183084a.ipch
ETU/.vs/TP2/v17/Solution.VC.db
ETU/.vs/TP2/v17/Solution.VC.db-shm
ETU/.vs/TP2/v17/Solution.VC.db-wal
ETU/.vs/TP2/v17/TestStore/0/000.testlog
ETU/.vs/TP2/v17/TestStore/0/testlog.manifest
ETU/Game/Debug/Bonus.obj
ETU/Game/Debug/Game.tlog/unsuccessfulbuild
ETU/Launcher/Debug/Launcher.tlog/unsuccessfulbuild
ETU/.vs/TP2/v17/Browse.VC.db
ETU/.vs/TP2/v17/Solution.VC.db
