
ETU/.vs/TP2/FileContentIndex/5e33bfd6-be93-4fbc-992f-394f1aca096e.vsidx
ETU/.vs/TP2/FileContentIndex/5e5773db-7308-4cd1-9b0b-3b7c1b4f53d3.vsidx
ETU/.vs/TP2/FileContentIndex/6d13f161-d8d1-49df-9100-97a3b8ac9b19.vsidx
ETU/.vs/TP2/FileContentIndex/799adcdf-9443-4449-9a50-deb8ede2b1be.vsidx
ETU/.vs/TP2/FileContentIndex/7b4710f6-b468-4ba7-814a-6c0c44adace5.vsidx
ETU/.vs/TP2/v17/Browse.VC.db
ETU/.vs/TP2/v17/Browse.VC.db-shm
ETU/.vs/TP2/v17/Browse.VC.db-wal
ETU/.vs/TP2/v17/Browse.VC.opendb
ETU/.vs/TP2/v17/ipch/fd50e7553183084a.ipch
ETU/.vs/TP2/v17/Solution.VC.db
ETU/.vs/TP2/v17/Solution.VC.db-shm
ETU/.vs/TP2/v17/Solution.VC.db-wal
ETU/.vs/TP2/v17/TestStore/0/000.testlog
ETU/.vs/TP2/v17/TestStore/0/testlog.manifest
ETU/Game/Debug/Bonus.obj
ETU/Game/Debug/Game.tlog/unsuccessfulbuild
ETU/Launcher/Debug/Launcher.tlog/unsuccessfulbuild
ETU/.vs/TP2/v17/Browse.VC.db
ETU/.vs/TP2/v17/Solution.VC.db
*.vsidx
*.vsidx
*.db
*.ipch
ETU/.vs/TP2/FileContentIndex/73d3448d-da5f-44a8-b961-a36e2d190e33.vsidx
ETU/.vs/TP2/v17/.suo
ETU/.vs/TP2/v17/Browse.VC.db
ETU/.vs/TP2/v17/ipch/dcbdb8f136ea159.ipch
ETU/.vs/TP2/v17/Solution.VC.db
ETU/Debug/Game.idb
ETU/Debug/Game.pdb
ETU/Game/Debug/AnimatedGameObject.obj
ETU/Game/Debug/Animation.obj
ETU/Game/Debug/AnimationFrame.obj
ETU/Game/Debug/CyclicAnimation.obj
ETU/Game/Debug/Game.log
ETU/Game/Debug/game.obj
ETU/Game/Debug/Game.pch
ETU/Game/Debug/Game.tlog/CL.command.1.tlog
ETU/Game/Debug/Game.tlog/CL.read.1.tlog
ETU/Game/Debug/Game.tlog/CL.write.1.tlog
ETU/Game/Debug/Game.tlog/CopyFile.command.1.tlog
ETU/Game/Debug/Game.tlog/CopyFile.read.1.tlog
ETU/Game/Debug/Game.tlog/CopyFile.write.1.tlog
ETU/Game/Debug/Game.tlog/Game.lastbuildstate
ETU/Game/Debug/GameObject.obj
ETU/Game/Debug/HealthBonus.obj
ETU/Game/Debug/InputBasedAnimation.obj
ETU/Game/Debug/Inputs.obj
ETU/Game/Debug/LinearAnimation.obj
ETU/Game/Debug/Publisher.obj
ETU/Game/Debug/Scene.obj
ETU/Game/Debug/stdafx.obj
ETU/Game/Debug/TitleScene.obj
ETU/Game/Debug/WeaponBonus.obj
ETU/Game/HealthBonus.cpp
ETU/Game/WeaponBonus.cpp
ETU/Launcher/Debug/Launcher.log
ETU/Launcher/Debug/Launcher.obj
ETU/Launcher/Debug/Launcher.pch
ETU/Launcher/Debug/Launcher.tlog/CL.command.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CL.read.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CL.write.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CopyFile.command.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CopyFile.read.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CopyFile.write.1.tlog
ETU/Launcher/Debug/Launcher.tlog/Launcher.lastbuildstate
ETU/Launcher/Debug/pch.obj
ETU/Launcher/Debug/vc143.idb
ETU/Launcher/Debug/vc143.pdb
ETU/.vs/TP2/FileContentIndex/73d3448d-da5f-44a8-b961-a36e2d190e33.vsidx
ETU/.vs/TP2/v17/.suo
ETU/.vs/TP2/v17/Browse.VC.db
ETU/.vs/TP2/v17/Solution.VC.db
ETU/Debug/Game.idb
ETU/Debug/Game.pdb
ETU/Game/Debug/AnimatedGameObject.obj
ETU/Game/Debug/Animation.obj
ETU/Game/Debug/AnimationFrame.obj
ETU/Game/Debug/CyclicAnimation.obj
ETU/Game/Debug/Game.log
ETU/Game/Debug/game.obj
ETU/Game/Debug/Game.pch
ETU/Game/Debug/Game.tlog/CL.command.1.tlog
ETU/Game/Debug/Game.tlog/CL.read.1.tlog
ETU/Game/Debug/Game.tlog/CL.write.1.tlog
ETU/Game/Debug/Game.tlog/CopyFile.command.1.tlog
ETU/Game/Debug/Game.tlog/CopyFile.read.1.tlog
ETU/Game/Debug/Game.tlog/CopyFile.write.1.tlog
ETU/Game/Debug/Game.tlog/Game.lastbuildstate
ETU/Game/Debug/GameObject.obj
ETU/Game/Debug/InputBasedAnimation.obj
ETU/Game/Debug/Inputs.obj
ETU/Game/Debug/LinearAnimation.obj
ETU/Game/Debug/Publisher.obj
ETU/Game/Debug/Scene.obj
ETU/Game/Debug/stdafx.obj
ETU/Game/Debug/TitleScene.obj
ETU/Game/HealthBonus.cpp
ETU/Game/WeaponBonus.cpp
ETU/Launcher/Debug/Launcher.log
ETU/Launcher/Debug/Launcher.obj
ETU/Launcher/Debug/Launcher.pch
ETU/Launcher/Debug/Launcher.tlog/CL.command.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CL.read.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CL.write.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CopyFile.command.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CopyFile.read.1.tlog
ETU/Launcher/Debug/Launcher.tlog/CopyFile.write.1.tlog
ETU/Launcher/Debug/Launcher.tlog/Launcher.lastbuildstate
ETU/Launcher/Debug/pch.obj
ETU/Launcher/Debug/vc143.idb
ETU/Launcher/Debug/vc143.pdb
ETU/.vs/TP2/v17/.suo
ETU/.vs/TP2/v17/Browse.VC.db
ETU/Debug/Game.idb
ETU/Debug/Game.pdb
ETU/Game/Bonus.cpp
ETU/Game/Bonus.h
ETU/Game/Debug/Game.log
ETU/Game/Debug/Game.tlog/CL.command.1.tlog
ETU/Game/Debug/Game.tlog/CL.read.1.tlog
ETU/Game/Debug/Game.tlog/CL.write.1.tlog
ETU/Launcher/Debug/vc143.idb
ETU/Launcher/Debug/vc143.pdb
